@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;500;700;900&family=VT323&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'VT323', monospace;
}

.container{
    width: 1080px;
}

header{
    background-color: #170312;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
}

h1{
    font-size: 60px;
}

.main{
    background-color: #33032F;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice{
    width: 250px;
    height: 250px;
    border: 2px solid #A0ACAD;
    border-radius: 10px;
}

.choices{
    display: flex;
    color:white;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.choices div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-section{
    background-color: #531253;
    height: 34.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button img{
    width: 200px;
    height: 200px;
    pointer-events: none;
}

.buttons button{
    background-color: #a0acad2d;
    border: 2px solid #97D8B2;
    border-radius: 20px;
    padding: 5px 10px;
    cursor:pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:white;
    background-color: black;
    height: 4.6vh;
    font-size: 20px;

}
.score{
    display: flex;
    color: white;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 40px;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000005e;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endGame{
    width: 1080px;
    height: 70vh;
    background-color: #5f0b58;
    border: 2px solid rgb(187, 185, 244);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.endGame h1{
    font-size: 150px ;
    color: rgb(195, 41, 230);
}

.endGame button{
    font-size: 40px;
    padding: 20px 70px;
    color: white;
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}